# in .env.db
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# in .env.api
API_PORT=
JWT_SECRET=
SECURE_MODE=
CORS_ORIGINS=
# put this in .env.local and .env.migrate as well
# .env.migrate should have privileged access
# but .env.api should have restricted access
DATABASE_URL=
